<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <!-- For SOAP help page navigate to http://[address]:[port]/ServiceBooktore.svc -->
  <!-- For REST help page navigate to http://[address]:[port]/ServiceBookstore.svc/rest/help -->

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpsBindingConfig" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"
                 receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client />
    <services>
      <service name="eNutridealWebservice.ServiceENutrideal"
               behaviorConfiguration="MyServiceTypeBehaviors">
        <endpoint address="soap" binding="basicHttpBinding"
                  contract="eNutridealWebservice.IServiceENutrideal" />
        <endpoint address="rest" binding="webHttpBinding" behaviorConfiguration="web"
                  contract="eNutridealWebservice.IServiceENutrideal" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp automaticFormatSelectionEnabled="true" faultExceptionEnabled="true"
                   helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
